<!DOCTYPE html>
<html>
<head>
  <title>Company Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<h2>Company Portal Login</h2>

<div id="firstLoginError" class="error"></div>

<form id="firstLoginForm">
  <input id="companyEmail" type="email" placeholder="Email" required>

  <div class="password-wrapper">
    <input id="companyPassword" type="password" placeholder="Password" required>
    <span class="toggle-eye" onclick="togglePassword('companyPassword', this)">👁</span>
  </div>

  <button>Login</button>
</form>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>